@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /*  ### Primary */

  --softBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /*   ### Neutral   */

  --VerydarkblueMain: hsl(217, 54%, 11%);
  --VerydarkblueCard: hsl(216, 50%, 16%);
  --VerydarkblueLine: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background: var(--VerydarkblueMain);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main{
    max-width: 21.875rem;
    margin: 0 auto;
}

.wrapper{
    margin:2rem 1rem;
    padding: 1.25rem;
    background-color: var(--VerydarkblueCard);
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
}

.imgTop{
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.imgTop img{
    width: 100%;
    display: block;
}
.imgOverlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:var(--Cyan);
    display: none;
}
.imgOverlay img{
    position: absolute;
    width: 3.125rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.imgTop:hover .imgOverlay{
    display: block;
}
.boxText a{
    color: var(--White);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.313rem;
    padding: 1.25rem 0;
    display: inline-block;
}
.boxText a:hover{
    color:var(--Cyan);
}
p{
    color:var(--softBlue);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.563rem 0;
}
.eth,.days{
    display: flex;
    align-items: center;
}
.eth p{
    color: var(--Cyan);
    font-weight: 600;
    padding-left: 0.438rem;
}
.days p{
    padding-left: 0.438rem;
}
hr{
    border-color: var(--VerydarkblueLine);
}
.author{
    display: flex;
    align-items: center;
    padding-top: 0.313rem;
}
.author img{
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 50%;
    border: 0.125rem solid #FFF;
    margin-right: 0.938rem;
}
.author p a.name{
    color: var(--White);
    font-size: 1rem;
}
.author p a.name:hover{
    color: var(--Cyan);
}

